.navbutton {
    background-color: blue;
    color: white;
    margin-right: 5px;
}

.nav-bar {
    text-align: right;
    background-color: white;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px; 
    padding-right: 20px;
}

.submitbutton {
    background-color: blue;
    color: white;
    width: 170px;
}

body {
    background-color: skyblue;
}


.formdiv {
    display: block;
    text-align: center;
    background-color: white;
    width: 500px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 200px;
}

.text-input {
    margin-bottom: 10px;
}
